click==7.0                # via flask
flask==1.1.1              # via flaskr (setup.py)
itsdangerous==1.1.0       # via flask
jinja2==2.11.1            # via flask
markupsafe==1.1.1         # via jinja2
werkzeug==1.0.0           # via flask
